/*! HTML5 Boilerplate v5.3.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */
/* Box Model Hack */
 * {
      -moz-box-sizing: border-box; /* Firexfox */
      -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
      box-sizing: border-box; /* IE */
 }
html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
   body {
     background-color: white;
     height: 100%;
     background-position: center;
     background-repeat: no-repeat;
     background-size: cover;
     margin: 0;
     width: 100%;
   }

   html {
    height: 100%;
    overflow: hidden;
  }


  .scene {
    width: 480px;
    height: 540px;
    margin: 16px auto;
    -webkit-perspective: 2000px;
    perspective: 2000px;
  }

  .book {
    position: relative;
    left: 180px;
    width: 100%;
    height: 100%;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
  }



  h1 {
    z-index: 3;
    position: relative;
    bottom: 490px;
    color: white;
    font-size: 2.5em;
    text-align: center;
    font-family: 'Paytone One', sans-serif;
    border-top: 3px solid white;
    border-bottom: 3px solid white;
    width: 100%;
    height: 60px;
    padding: .5px;
  }

  h2 {
    z-index: 3;
    position: relative;
    bottom: 460px;
    color: white;
    font-size: 2.3em;
    font-weight: bolder;
    text-align: center;
    font-family: 'Josefin Slab', serif;
    font-weight: bolder;
  }

  /*front page with afro gif */
  .fro {
    z-index: 3;
    position: relative;
    bottom: 340px;
    left: 297px;
    width: 35%;
  }


  .michelle {
    z-index: 3;
    position: relative;
    bottom: 770px;
    left: 297px;
    width: 35%;
  }

  .michelleQuotes {
    z-index: 3;
    position: relative;
    bottom: 480px;
    left: 50px;
    color: white;
    font-weight: bolder;
    border: 1px solid #c71585;
    width: 30%;
    padding: 10px;
    background-color: #E9D6C5;
    font-family: 'Droid Sans Mono', monospace;
  }

  .michelleExcerpt {

    color: #c71585;
    font-size: .68em;
    font-family: 'Droid Sans Mono', monospace;
  }

  .wrap {
    border: 2px solid tan;
    height: 540px;
    width: 480px;
    border-radius: 8px;
  }


  .lupita {
    z-index: 3;
    position: relative;
    bottom: 740px;
    left: 57px;
    width: 35%;
  }

  .lupitaQuotes {
    z-index: 3;
    position: relative;
    bottom: 480px;
    left: 290px;
    width: 30%;
    color: white;
    font-weight: bolder;
    border: 1px solid #ff1493;
    padding: 10px;
    background-color: #E9D6C5;
    font-family: 'Droid Sans Mono', monospace;
  }

  .lupitaExcerpt {
    color: #ff1493;
    font-size: .68em;
    font-family: 'Droid Sans Mono', monospace;
  }

  .stats {
    z-index: 3;
    position: relative;
    bottom: 480px;
    left: 90px;
    width: 65%;
    color: white;
    font-weight: bolder;
    border: 1px solid pink;
    padding: 10px;
    background-color: #E9D6C5;
    font-family: 'Droid Sans Mono', monospace;
  }

  a {
    border: 1px solid pink;
    width: 20%;
    padding: 10px;
    background-color: #E9D6C5;
    font-family: 'Droid Sans Mono', monospace;
    position: relative;
    bottom: 400px;
    left: 320px;
    color: white;
    text-decoration: none;
  }

  a:hover,
  .stats:hover {
    background-color: pink;
  }

  .maya {
    z-index: 3;
    position: relative;
    bottom: 740px;
    left: 57px;
    width: 35%;
  }

  .mayaQuotes {
    z-index: 3;
    position: relative;
    bottom: 510px;
    left: 290px;
    width: 34%;
    color: white;
    font-weight: bolder;
    border: 1px solid #f0899c;
    padding: 10px;
    background-color: #E9D6C5;
    font-family: 'Droid Sans Mono', monospace;
  }

  .mayaExcerpt {
    color: #f0899c;
    font-size: .68em;
    font-family: 'Droid Sans Mono', monospace;
  }

  .mayaQuotesTwo {
    z-index: 3;
    position: relative;
    bottom: 600px;
    left: 70px;
    width: 69%;
    color: white;
    font-weight: bolder;
    border: 1px solid #f0899c;
    padding: 10px;
    background-color: #E9D6C5;
    font-family: 'Droid Sans Mono', monospace;
  }

  /*flo-jo*/

  .florence {
    z-index: 3;
    position: relative;
    bottom: 740px;
    left: 214px;
    width: 35%;
  }

  .floQuotes {
    z-index: 3;
    position: relative;
    bottom: 510px;
    left: 90px;
    width: 34%;
    color: white;
    font-weight: bolder;
    border: 1px solid #f0899c;
    padding: 10px;
    background-color: #E9D6C5;
    font-family: 'Droid Sans Mono', monospace;
  }

  .floExcerpt {
    color: #f0899c;
    font-size: .68em;
    font-family: 'Droid Sans Mono', monospace;
  }

  iframe {
    z-index: 3;
    position: relative;
    bottom: 720px;
    left: 80px;
    width: 350px;
    height: 220px;
    border: 2px solid pink;
    /*width: 75%;*/
  }

  /*Billie Holiday*/

  .billieExcerpt {
    color: #FFFF33;
    font-size: 1.1em;
    font-family: 'Droid Sans Mono', monospace;
    z-index: 3;
    position: relative;
    bottom: 510px;
    left: 70px;
    width: 34%;
    font-weight: bolder;
    border: 2px solid #FFFF33;
    background-color: grey;
    padding: 6px;
    border-radius: 5px;
  }

  .billie {
    z-index: 3;
    position: relative;
    bottom: 440px;
    left: 114px;
    width: 55%;
  }
/*
  katherine */

  .katherine {
    z-index: 3;
    position: relative;
    bottom: 740px;
    left: 274px;
    width: 35%;
  }

  .katherineQuotes {
    z-index: 3;
    position: relative;
    bottom: 510px;
    left: 80px;
    width: 34%;
    color: white;
    font-weight: bolder;
    border: 1px solid #f0899c;
    padding: 10px;
    background-color: #E9D6C5;
    font-family: 'Droid Sans Mono', monospace;
  }

  .katherineExcerpt {
    color: #f0899c;
    font-size: .68em;
    font-family: 'Droid Sans Mono', monospace;
  }

  .counting {
    z-index: 3;
    position: relative;
    bottom: 470px;
    left: 74px;
    width: 35%;
  }

/*lined paper */
  .paper {
  position: absolute;
  height: 530px;
  width: 465px;
  background: rgba(255,255,255,0.9);
  margin: -275px -225px;
  left: 50%;
  top: 280px;
  box-shadow: 0px 0px 5px 0px #888;
  }

.paper::before {
  content: '';
  position: absolute;
  left: 45px;
  height: 100%;
  width: 2px;
  background: rgba(255,0,0,0.4);
  }

.lines {
  margin-top: 40px;
  height: calc(100% - 40px);
  width: 100%;
  background-image: repeating-linear-gradient(white 0px, white 24px, steelblue 25px);
  }

.text {
  position: absolute;
  top: 65px;
  left: 55px;
  bottom: 10px;
  right: 10px;
  line-height: 25px;
  font-family: 'Indie Flower';
  overflow: hidden;
  outline: none;
  }

.holes {
  position: absolute;
  left: 10px;
  height: 25px;
  width: 25px;
  background: tan;
  border-radius: 50%;
  box-shadow: inset 0px 0px 2px 0px #888;
  }

.hole-top {
  top: 10%;
  }

.hole-middle {
  top: 50%;
  }

.hole-bottom {
  bottom: 10%;
  }

/*type in */

.text {
 color: #FF69B4;
 font-family: "Courier";
 font-size: .80em;
 margin: 6px 0 0 6px;
 white-space: pre-line;
 overflow: hidden;
 width: 30em;
 animation: type 4s steps(60, end);

}



.block {
  animation: blink 1s infinite;
}


@keyframes type{
  from { width: 0; }
}

@keyframes type2{
  0%{width: 0;}
  50%{width: 0;}
  100%{ width: 100; }
}

@keyframes blink{
  to{opacity: .0;}
}


/*lauryn hill*/

.lauryn {
  z-index: 3;
  position: relative;
  bottom: 744px;
  left: 274px;
  width: 35%;
}

.lauryn2 {
  z-index: 3;
  position: relative;
  bottom: 1044px;
  left: 84px;
  width: 35%;
}

.laurynQuotes {
  z-index: 3;
  position: relative;
  bottom: 530px;
  left: 80px;
  width: 30%;
  color: white;
  font-weight: bolder;
  border: 1px solid #f0899c;
  padding: 10px;
  background-color: #E9D6C5;
  font-family: 'Droid Sans Mono', monospace;
}

.laurynExcerpt {
  color: #f0899c;
  font-size: .68em;
  font-family: 'Droid Sans Mono', monospace;
}



/*collage*/

.collage {
  z-index: 3;
  position: relative;
  bottom: 520px;
  left: 20px;
  width: 90%;
  border: 1px solid #f0899c;
}

.farrahQuotes {
  z-index: 3;
  position: relative;
  bottom: 510px;
  left: 50px;
  width: 76%;
  color: white;
  font-weight: bolder;
  border: 1px solid #f0899c;
  padding: 10px;
  background-color: #E9D6C5;
  font-family: 'Droid Sans Mono', monospace;
}

.farrahExcerpt {
  color: #f0899c;
  font-size: .68em;
  font-family: 'Droid Sans Mono', monospace;
}

/*gif*/

.heritage {
  z-index: 3;
  position: relative;
  bottom: 514px;
  left: 74px;
  width: 65%;
  border: 1px solid #f0899c;
}

.flashingFro {
  z-index: 3;
  position: relative;
  bottom: 494px;
  left: 74px;
  width: 65%;

  border: 1px solid #f0899c;
}


.page {
  cursor: pointer;
  position: absolute;
  color: black;
  width: 100%;
  height: 100%;

  -webkit-transition: 1.5s -webkit-transform;

  transition: 1.5s transform;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transform-origin: left center;
  -ms-transform-origin: left center;
  transform-origin: left center;
}

.front,
.back {
  position: absolute;

  width: 100%;
  height: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;

  -webkit-perspective: 1000;
  backface-visibility: hidden;

  background: -webkit-gradient(linear, 0% 0%, 100% 100%, from(#FFFFFF), to(#CCCCCC));
  background: -webkit-gradient(linear, left top, right bottom, from(#fff), to(#ccc));
  background: -webkit-linear-gradient(top left, #fff, #ccc);
  background: linear-gradient(to bottom right, #fff, #ccc);
}


.back {
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
  z-index: 3;
}

.page.active {
  z-index: 1;
}

.page.flipped {
  -webkit-transform: rotateY(-180deg);
  transform: rotateY(-180deg);

}


.page.flipped:last-of-type {
  z-index: 1;
}

p {
  margin: 0;
}

/*maze*/

.imageJ {
  width: 17%;
  height: 65px;
  left: 0px;
  top: 0px;
  margin-top: -920px;
  z-index: 3;
}




/* ==========================================================================
   Helper classes
   ========================================================================== */

  /*
   * Hide visually and from screen readers
   */

  .hidden {
      display: none !important;
  }

  /*
   * Hide only visually, but have it available for screen readers:
   * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
   */

  .visuallyhidden {
      border: 0;
      clip: rect(0 0 0 0);
      height: 1px;
      margin: -1px;
      overflow: hidden;
      padding: 0;
      position: absolute;
      width: 1px;
  }

  /*
   * Extends the .visuallyhidden class to allow the element
   * to be focusable when navigated to via the keyboard:
   * https://www.drupal.org/node/897638
   */

  .visuallyhidden.focusable:active,
  .visuallyhidden.focusable:focus {
      clip: auto;
      height: auto;
      margin: 0;
      overflow: visible;
      position: static;
      width: auto;
  }

  /*
   * Hide visually and from screen readers, but maintain layout
   */

  .invisible {
      visibility: hidden;
  }

  /*
   * Clearfix: contain floats
   *
   * For modern browsers
   * 1. The space content is one way to avoid an Opera bug when the
   *    `contenteditable` attribute is included anywhere else in the document.
   *    Otherwise it causes space to appear at the top and bottom of elements
   *    that receive the `clearfix` class.
   * 2. The use of `table` rather than `block` is only necessary if using
   *    `:before` to contain the top-margins of child elements.
   */

  .clearfix:before,
  .clearfix:after {
      content: " "; /* 1 */
      display: table; /* 2 */
  }

  .clearfix:after {
      clear: both;
  }

  /* ==========================================================================
     EXAMPLE Media Queries for Responsive Design.
     These examples override the primary ('mobile first') styles.
     Modify as content requires.
     ========================================================================== */

  @media only screen and (max-width: 568px) {
    .scene {
      width: 80px;
      height: 540px;
      margin-left: -130px auto;
      -webkit-perspective: 2000px;
      perspective: 2000px;
    }

    .book {
      position: relative;
      left: -170px;
      width: 100%;
      height: 50%;
      -webkit-transform-style: preserve-3d;
      transform-style: preserve-3d;
    }

    h1 {
      z-index: 3;
      position: relative;
      bottom: 540px;
      right: 20px;
      color: white;
      font-size: 1.9em;

      font-family: 'Paytone One', sans-serif;
      border-top: 3px solid white;
      border-bottom: 3px solid white;
      width: 540%;
      height: 60px;
      padding: .5px;
    }

    h2 {
      z-index: 3;
      position: relative;
      bottom: 560px;
      left: 150px;
      color: white;
      font-size: 2.3em;
      font-weight: bolder;
      text-align: center;
      font-family: 'Josefin Slab', serif;
      font-weight: bolder;
    }

    /*front page with afro gif */
    .fro {
      z-index: 3;
      position: relative;
      bottom: 510px;
      left: 247px;
      width: 135%;
    }

    /*Billie Holiday*/

    .billieExcerpt {
      color: #FFFF33;
      font-size: 1.1em;
      font-family: 'Droid Sans Mono', monospace;
      z-index: 3;
      position: relative;
      bottom: 510px;
      left: 70px;

      font-weight: bolder;
      border: 2px solid #FFFF33;
      background-color: grey;
      padding: 6px;
      border-radius: 5px;
    }

    .billie {
      z-index: 3;
      position: relative;
      bottom: 440px;
      left: 134px;
      width: 195%;
    }

    /*michelle obama*/
    .michelle {
      z-index: 3;
      position: relative;
      bottom: 770px;
      left: 247px;
      width: 125%;
    }

    .michelleQuotes {
      z-index: 3;
      position: relative;
      bottom: 510px;
      left: 50px;
      color: white;
      font-weight: bolder;
      border: 1px solid #c71585;
      width: 150%;
      padding: 10px;
      background-color: #E9D6C5;
      font-family: 'Droid Sans Mono', monospace;
    }

    .michelleExcerpt {

      color: #c71585;
      font-size: .68em;
      font-family: 'Droid Sans Mono', monospace;
    }

    /*each page size */
    .wrap {
        border: 2px solid tan;
        height: 540px;
        width: 330px;
        border-radius: 8px;
        margin-left: 20px;
      }

      /*lupita*/
      .lupita {
        z-index: 3;
        position: relative;
        bottom: 640px;
        left: 37px;
        width: 175%;
      }

      .lupitaQuotes {
        z-index: 3;
        position: relative;
        bottom: 480px;
        left: 155px;
        width: 190%;
        color: white;
        font-weight: bolder;
        border: 1px solid #ff1493;
        padding: 10px;
        background-color: #E9D6C5;
        font-family: 'Droid Sans Mono', monospace;
      }

      .lupitaExcerpt {
        color: #ff1493;
        font-size: .68em;
        font-family: 'Droid Sans Mono', monospace;
      }

      .stats {
        z-index: 3;
        position: relative;
        bottom: 480px;
        left: 70px;
        width: 285%;
        color: white;
        font-weight: bolder;
        border: 1px solid pink;
        padding: 10px;
        background-color: #E9D6C5;
        font-family: 'Droid Sans Mono', monospace;
      }

      a {
        border: 1px solid pink;
        width: 20%;
        padding: 10px;
        background-color: #E9D6C5;
        font-family: 'Droid Sans Mono', monospace;
        position: relative;
        bottom: 420px;
        left: 220px;
        color: white;
        text-decoration: none;
      }

      a:hover,
      .stats:hover {
        background-color: pink;
      }

      .maya {
        z-index: 3;
        position: relative;
        bottom: 740px;
        left: 57px;
        width: 130%;
      }

      .mayaQuotes {
        z-index: 3;
        position: relative;
        bottom: 510px;
        left: 180px;
        width: 184%;
        color: white;
        font-weight: bolder;
        border: 1px solid #f0899c;
        padding: 10px;
        background-color: #E9D6C5;
        font-family: 'Droid Sans Mono', monospace;
      }

      .mayaExcerpt {
        color: #f0899c;
        font-size: .68em;
        font-family: 'Droid Sans Mono', monospace;
      }

      .mayaQuotesTwo {
        z-index: 3;
        position: relative;
        bottom: 600px;
        left: 45px;
        width: 199%;
        color: white;
        font-weight: bolder;
        border: 1px solid #f0899c;
        padding: 10px;
        background-color: #E9D6C5;
        font-family: 'Droid Sans Mono', monospace;
      }

      /*maze*/

      .imageJ {
        width: 97%;
        height: 65px;
        left: 0px;
        top: 0px;
        margin-top: -920px;
        z-index: 3;
      }


      /*flo-jo*/

      .florence {
        z-index: 3;
        position: relative;
        bottom: 740px;
        left: 236px;
        width: 135%;
      }

      .floQuotes {
        z-index: 3;
        position: relative;
        bottom: 510px;
        left: 74px;
        width: 194%;
        color: white;
        font-weight: bolder;
        border: 1px solid #f0899c;
        padding: 10px;
        background-color: #E9D6C5;
        font-family: 'Droid Sans Mono', monospace;
      }

      .floExcerpt {
        color: #f0899c;
        font-size: .68em;
        font-family: 'Droid Sans Mono', monospace;
      }

      iframe {
        z-index: 3;
        position: relative;
        bottom: 620px;
        left: 80px;
        width: 280%;
        height: 120px;
        border: 2px solid pink;
        /*width: 75%;*/
      }

      /*
        katherine */

        .katherine {
          z-index: 3;
          position: relative;
          bottom: 870px;
          left: 224px;
          width: 105%;
        }

        .katherineQuotes {
          z-index: 3;
          position: relative;
          bottom: 510px;
          left: 70px;
          width: 154%;
          color: white;
          font-weight: bolder;
          border: 1px solid #f0899c;
          padding: 10px;
          background-color: #E9D6C5;
          font-family: 'Droid Sans Mono', monospace;
        }

        .katherineExcerpt {
          color: #f0899c;
          font-size: .68em;
          font-family: 'Droid Sans Mono', monospace;
        }

        .counting {
          z-index: 3;
          position: relative;
          bottom: 770px;
          left: 224px;
          width: 125%;
        }

        /*lined paper */
          .paper {
          position: absolute;
          height: 530px;
          width: 465px;
          background: rgba(255,255,255,0.9);
          margin: -275px -225px;
          left: 50%;
          top: 280px;
          box-shadow: 0px 0px 5px 0px #888;
          }

        .paper::before {
          content: '';
          position: absolute;
          left: 45px;
          height: 100%;
          width: 2px;
          background: rgba(255,0,0,0.4);
          }

        .lines {
          margin-top: 40px;
          height: calc(100% - 40px);
          width: 100%;
          background-image: repeating-linear-gradient(white 0px, white 24px, steelblue 25px);
          }

        .text {
          position: absolute;
          top: 65px;
          left: 55px;
          bottom: 10px;
          right: 10px;
          line-height: 25px;
          font-family: 'Indie Flower';
          overflow: hidden;
          outline: none;
          }

        .holes {
          position: absolute;
          left: 10px;
          height: 25px;
          width: 25px;
          background: tan;
          border-radius: 50%;
          box-shadow: inset 0px 0px 2px 0px #888;
          }

        .hole-top {
          top: 10%;
          }

        .hole-middle {
          top: 50%;
          }

        .hole-bottom {
          bottom: 10%;
          }

    .page {
      cursor: pointer;
      position: absolute;
      color: black;
      width: 100%;
      height: 100%;

      -webkit-transition: 1.5s -webkit-transform;

      transition: 1.5s transform;
      -webkit-transform-style: preserve-3d;
      transform-style: preserve-3d;
      -webkit-transform-origin: left center;
      -ms-transform-origin: left center;
      transform-origin: left center;
    }

    .front,
    .back {
      position: absolute;

      width: 100%;
      height: 100%;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;

      -webkit-perspective: 1000;
      backface-visibility: hidden;

      background: -webkit-gradient(linear, 0% 0%, 100% 100%, from(#FFFFFF), to(#CCCCCC));
      background: -webkit-gradient(linear, left top, right bottom, from(#fff), to(#ccc));
      background: -webkit-linear-gradient(top left, #fff, #ccc);
      background: linear-gradient(to bottom right, #fff, #ccc);
    }


    .back {
      -webkit-transform: rotateY(180deg);
      transform: rotateY(180deg);
      z-index: 3;
    }

    .page.active {
      z-index: 1;
    }

    .page.flipped {
      -webkit-transform: rotateY(-180deg);
      transform: rotateY(-180deg);

    }


    .page.flipped:last-of-type {
      z-index: 1;
    }

    p {
      margin: 0;
    }


  }

  @media only screen and (min-width: 35em) {
      /* Style adjustments for viewports that meet the condition */
  }

  @media print,
         (-webkit-min-device-pixel-ratio: 1.25),
         (min-resolution: 1.25dppx),
         (min-resolution: 120dpi) {
      /* Style adjustments for high resolution devices */
  }

  /* ==========================================================================
     Print styles.
     Inlined to avoid the additional HTTP request:
     http://www.phpied.com/delay-loading-your-print-css/
     ========================================================================== */

  @media print {
      *,
      *:before,
      *:after,
      *:first-letter,
      *:first-line {
          background: transparent !important;
          color: #000 !important; /* Black prints faster:
                                     http://www.sanbeiji.com/archives/953 */
          box-shadow: none !important;
          text-shadow: none !important;
      }

      a,
      a:visited {
          text-decoration: underline;
      }

      a[href]:after {
          content: " (" attr(href) ")";
      }

      abbr[title]:after {
          content: " (" attr(title) ")";
      }

      /*
       * Don't show links that are fragment identifiers,
       * or use the `javascript:` pseudo protocol
       */

      a[href^="#"]:after,
      a[href^="javascript:"]:after {
          content: "";
      }

      pre,
      blockquote {
          border: 1px solid #999;
          page-break-inside: avoid;
      }

      /*
       * Printing Tables:
       * http://css-discuss.incutio.com/wiki/Printing_Tables
       */

      thead {
          display: table-header-group;
      }

      tr,
      img {
          page-break-inside: avoid;
      }

      img {
          max-width: 100% !important;
      }

      p,
      h2,
      h3 {
          orphans: 3;
          widows: 3;
      }

      h2,
      h3 {
          page-break-after: avoid;
      }
  }
